@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    padding: 10px;
    padding-left: 32px;
    z-index: 1000;
}

h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

.container {
    display: flex;
    flex: 1;
    margin-top: 100px;
}

#posts i {
    cursor: pointer;
    margin: 16px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

#posts i:hover,
#posts i:focus,
#posts i:active {
    transform: scale(1.2);
}

.left-column {
    min-width: 300px;
    background-color: #f8f8f8;
    padding: 20px;
    padding-left: 32px;
    position: fixed;
    top: 80px;
    bottom: 0;
    overflow-y: auto;
    width: auto;
}

.left-column textarea{
    resize: none;
    width: 250px;
    height: 350px;
}

.left-column input{
    width: 250px;
}

.right-column {
    flex: 1;
    margin-left: 460px;
    overflow-y: auto;
}

.right-column p, hr{
    max-width: 400px;
}

hr {
    margin: 1.5em 0;
    text-align: center;
    border: none;
}
  
  hr:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #eee;
    margin: 0 0.4em;
}
  
  hr:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #eee;
    margin: 0 0.4em;
}

h3, h4{
    margin: 0;
    padding: 0;
}